<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model='username'>
    <input type="password" v-model='password'>
    <button @click='login'>登录</button>
  </div>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

  <script>
    new Vue({
      el:'#app',
      data:{
        username:'aa',
        password:'bb'
      },
      methods:{
        login(){
          console.log('login')
          axios.post('http://localhost:9998',{
            username:this.username,
            password:this.password
          }).then(res => {
            console.log(res)
          })
          .catch(err => {
            console.log(err)
          })
        }
      }
    })
  </script>
</body>
</html>